Cython
librosa==0.9.1
numpy==1.23.4
scipy
unidecode
pyopenjtalk
jamo
pypinyin
jieba
protobuf==3.19.0
cn2an
inflect
eng_to_ipa
ko_pron
indic_transliteration==2.3.37
num_thai==0.0.5
opencc==1.1.1
pillow==9.5.0

